.root {
  width: 100%;
}

.flexCategories {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 1.375rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  font-size: 24px;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.categoryImage {
  border-radius: 0.625rem;
  width: 8.25rem;
  height: 8.25rem;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
}

.categoryImageChosen {
  composes: categoryImage;
  border-color: var(--color-accent);
}

.category {
  flex: none;
}

.categoriesText {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5rem;
}

.chosenCategory {
  composes: categoriesText;
  font-weight: 600;
  color: var(--color-accent);
}
