.root {
  position: relative;
  font-size: 0.875rem;
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.1s ease-in-out opacity,
              0.1s ease-in-out transform,
              0.25s ease-in-out background-color;
}

.primary {
  font-weight: 700;
  padding: 1.25rem 2rem;
  background: var(--color-accent);
  color: var(--color-background);
}

.secondary {
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text);
}

.primary, .secondary {
  border-radius: 2rem;
}

.primary:hover, .secondary:hover {
  opacity: 0.9;
}

.primary:active, .secondary:active {
  transform: translateY(2px);
}

.primary[disabled], .secondary[disabled] {
  cursor: initial;
  background: var(--color-text-secondary);
}

.primary.small, .secondary.small {
  padding: 0.75rem 2rem;
}


.icon-translucent {
  padding: 0.5rem;
  border-radius: 50%;

  &.big i {
    font-size: 1.5rem;
  }
}

.icon-primary {
  composes: icon-translucent;
}

.icon-secondary {
  composes: icon-translucent;
}

.icon-translucent:hover {
  background-color: var(--color-background-input);
}


.badge {
  background-color: var(--color-important);
  position: absolute;
  height: 1.25rem;
  min-width: 1.25rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-background);
  font-weight: 700;
  top: 0;
  left: 0;
}
