:root {
  --color-background: #FFFFFF;
  --color-background-faded: rgba(0, 0, 0, 0.35);
  --color-background-input: #F4F4F4;
  --color-secondary-icon-button: rgb(244, 244, 244, 0.5);
  --color-background-action-button: #000000;

  --color-text: #313131;
  --color-text-secondary: #A8ACB8;

  --color-important: #EF4B5F;
  --color-accent: #3BBEB6;

  --shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.04);
  --shadow-card: 0px 4px 19px rgba(0, 0, 0, 0.06);
  --shadow-sidebar-footer: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
