body {
    margin: 0;
    background-color:  #E5E5E5;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
.mainWindowPhoto{
   position: relative;
   margin-top: 5vh;
   margin-left: 5vh;
   width: 50vw;
   height: 90vh;

/* border-radius: 20px; */
}

.mainWindowPhoto img{
    
    height: 100%;
    width: 100%;
 
 /* border-radius: 20px; */
 }

.loginMenu{
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-left: 12vw;
    width: 24vw;
}
.flexForPhotoAndLogin{
    display: flex;
}
.textField{
font-family: 'Almarai';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #A8ACB8;
margin-bottom: 34px;

}
.inputGroup{
    width: 373px;
    height: 45px;
    margin-bottom: 15px;
background: rgba(168, 172, 184, 0.1);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
padding-left: 20px;
border: none;
border-radius: 40px;
font-family: 'Almarai';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #A8ACB8;

}
.inputGroup:focus{
    outline: none;
}

.submitBtn{
    
    margin-top: 19px;
    height: 54px;
    width: 373px;
    background: #3BBEB6;
    border: 1px solid #3BBEB6;
    border-radius: 40px;
    font-family: 'Almarai';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.submitBtn:hover{
    cursor: pointer;
}


.welcomeField{
    font-family: 'Almarai';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 36px;
/* identical to box height */
margin-bottom: 8px;


/* Main Text color */

color: #313131;

}
.signUp{
    color: #3BBEB6;
}
#signUp{
    margin-top: 22.22vh;
    margin-left: 10vw;
}
.cancel{
   margin-top: 3vh;
   margin-left: 32.6vw;
   margin-bottom: 12vh;
}